.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 520px;
    height: 260px;
    padding: 16px;
    border-radius: 5px;
    background: #01478c;
}

.box .title .title-text{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    color: #fff;
}

.box .title .line {
    display: inline-block;
    width: 6px;
    height: 20px;
    border-radius: 3px;
    background: #66e2ec;
    vertical-align: middle;
}
.box .contain-center{
    height: 100px;
    border-bottom: 1px solid #296eb1;
}
.box .contain-tit{
    margin-bottom: 6px;
    font-size: 12px;
    color: #7ea1c9;
}
.box .contain-center-per{
    display: inline-block;
    height: 100%;
    margin-right: 56px;
    vertical-align: top;
}
.box .contain-center-recently{
    display: inline-block;
    position: relative;


}
.box .per-year{
    color: #69e4ec;
    font-size: 12px;
}
.box .contain-center .per-number{
    font-size: 36px;
}


.box #line{
    height: 80px;
    width: 200px;
    margin-right: 80px;
    margin-top: -18px;
    /*border-right: 1px dashed #eee;*/
}

.box .contain-bottom{
    display: flex;
    justify-content: space-between;
    color: #aecce4;
}
.box .contain-bottom .code-number{
    font-size: 22px;
}
.box .code-unit{
    font-size: 12px;
}


/*右侧box*/

.staffing{
    margin-top: 20px;
}
.staffing .title .line{
    background: #f4eca4;
}

.staffing .task-proportion{
    font-size: 18px;
    color: #f4eca4;
}
.staffing .task-proportion .task-proportion-num{
    font-size: 36px;
}

#yAxis {

    height: 110px;
    width: 250px;
    /*vertical-align: center;*/
}

#wave {
    height: 80px;
    width: 200px;
    margin-left: -205px;
    margin-top: 10px;
    /*vertical-align: center;*/
}
.contain-center{
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

.contain-center-wave{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    margin-right: 60px;
}


li{
    list-style: none;
    /*width: 40px;*/
    float: left;
    position: absolute;
}

#proportion{
    display: inline-block;
    position: relative;
    width: 140px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
}


#per-number{
    display: inline-block;
    position: relative;
    width: 140px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
}